.vc-pane-container .vc-pane-layout {
  @apply font-sans;
}
/* .vc-pane-container .vc-pane-layout .vc-pane {
  @apply p-4;
} */
.vc-pane-container .vc-pane-layout .vc-header .vc-title {
  @apply text-muted-800 dark:text-muted-100 text-base font-medium capitalize;
}

.vc-title {
  @apply text-muted-600 dark:text-muted-100 relative;
}

/* .vc-pane-container .vc-pane-layout .vc-weeks {
  @apply mt-2;
} */
.vc-pane-container .vc-pane-layout .vc-weeks .vc-weekday {
  @apply text-muted-500 dark:text-muted-400/70 text-sm font-normal;
}

.vc-arrow {
  @apply scale-90 rounded-full;
}

.vc-arrow:hover {
  @apply hover:bg-muted-100 dark:bg-muted-700 transition-colors duration-300;
}

.vc-pane-container .vc-pane-layout .vc-weeks .vc-weeknumber .vc-weeknumber-content {
  @apply text-muted-500 dark:text-muted-400/70 text-xs font-normal not-italic;
}

.vc-pane-container .vc-day-content {
  @apply hover:bg-primary-500/10 hover:text-primary-500 dark:text-muted-400 dark:hover:bg-primary-500/10 dark:hover:text-primary-400 !text-sm font-medium;
}
.vc-highlight-content-solid {
  @apply !bg-primary-500 !text-white;
}
.vc-highlight-content-outline {
  @apply border-primary-500 !bg-primary-200 !text-primary-700 dark:!bg-muted-700/70 dark:!text-primary-400 border-2;
}
.vc-pane-container .vc-day-content.is-disabled,
.vc-disabled {
  @apply text-muted-300 dark:!text-muted-700;
}

.vc-pane-container .vc-day-content.bg-gray-200 {
  @apply !bg-muted-100 !text-muted-500 dark:!bg-muted-700 dark:!text-muted-100;
}

.vc-pane-container .vc-arrows-container {
  @apply top-5 px-6 py-2;
}
.vc-pane-container .vc-arrows-container .vc-arrow {
  @apply !text-muted-400 dark:hover:bg-muted-700/40 dark:hover:text-muted-100 -top-2 flex items-center justify-center rounded-xl;
}

.vc-container button,
.vc-container [role='button'],
.vc-popover-content button,
.vc-popover-content [role='button'] {
  @apply nui-focus;
}

.vc-pane-container .vc-arrows-container .vc-arrow svg {
  @apply relative -top-0.5 h-5 w-5;
}

.vc-day-layer + span {
  @apply !text-white;
}

.vc-bars .vc-bar,
.vc-dots .vc-dot {
  @apply !bg-success-500;
}

.vc-highlight {
  @apply !border-primary-500 !bg-primary-500/20 !text-primary-500 !font-normal;
}

.vc-container {
  @apply border-muted-200 dark:border-muted-700 dark:bg-muted-800 bg-white;
}

.vc-popover-content-wrapper {
  @apply z-20;
}

.vc-popover-content-wrapper .vc-nav-popover-container .vc-nav-container {
  @apply p-3;
}
.vc-popover-content-wrapper .vc-nav-popover-container .vc-nav-container .vc-nav-header {
  @apply mb-3;
}

.vc-nav-title {
  @apply text-muted-800 dark:text-muted-100 font-sans font-medium;
}

.vc-nav-title:hover {
  @apply bg-muted-100 dark:bg-muted-800/60;
}

.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-header
  .vc-nav-title:active,
.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-header
  .vc-nav-arrow:active,
.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-header
  .vc-nav-title:focus,
.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-header
  .vc-nav-arrow:focus {
  @apply !border-transparent;
}

.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-header
  .vc-nav-arrow:hover {
  @apply bg-muted-100 dark:bg-muted-800/60;
}
.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-header
  .vc-nav-arrow {
  @apply relative top-1 flex h-6 w-6 shrink-0 items-center justify-center rounded-xl text-white;
}
.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-header
  .vc-nav-arrow
  svg {
  @apply text-muted-500 dark:text-muted-200 relative -top-0.5 h-5 w-5;
}
.vc-popover-content-wrapper .vc-nav-popover-container .vc-nav-container .vc-nav-items .vc-nav-item {
  @apply text-muted-500 dark:text-muted-400 rounded-lg py-2 font-sans text-xs font-normal capitalize !leading-none;
}
.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-items
  .vc-nav-item.is-active {
  @apply !border-primary-500 !bg-primary-500/10 text-primary-500;
}

.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-items
  .vc-nav-item.is-disabled {
  @apply dark:text-muted-300;
}

.vc-popover-content-wrapper
  .vc-nav-popover-container
  .vc-nav-container
  .vc-nav-items
  .vc-nav-item:not(.is-active):hover {
  @apply bg-muted-100 dark:bg-muted-600 dark:text-muted-200;
}

.vc-popover-content {
  @apply border-muted-200 dark:border-muted-700 dark:bg-muted-700 bg-white;
}

.vc-time-content .vc-time-date > span {
  @apply text-sm;
}
.vc-time-content .vc-am-pm > button {
  @apply font-sans text-sm;
}
.vc-time-picker .vc-date-time .vc-date > span {
  @apply font-sans text-sm;
}

.vc-time-picker.vc-bordered {
  @apply border-muted-200 dark:border-muted-700;
}

.vc-time-picker {
  @apply items-start;
}

.vc-time-content {
  @apply grow;
}

.vc-time-content .vc-time-date span {
  @apply text-muted-500 dark:text-muted-400 font-sans text-xs;
}

.vc-time-month,
.vc-time-day {
  @apply !text-primary-500;
}

.vc-time-picker.vc-attached {
  @apply border-muted-200 dark:border-muted-700;
}

.vc-time-select-group svg {
  @apply h-4 w-4 shrink-0;
}

.vc-time-select-group {
  @apply w-3/4;
}

.vc-time-select-group .vc-select {
  @apply grow;
}

.vc-time-select > span {
  @apply !mx-4;
}

.vc-time-select-group {
  @apply border-muted-200 bg-muted-100 dark:border-muted-700 dark:bg-muted-700 w-full;
}

.vc-time-select-group .vc-base-select select {
  @apply nui-focus bg-muted-100 text-muted-500 dark:bg-muted-700 dark:text-muted-200;
}

.vc-time-select-group .vc-base-icon {
  @apply text-primary-500;
}

.vc-time-colon {
  @apply text-muted-500 dark:text-muted-200;
}

.vc-light.vc-attr,
.vc-light .vc-attr {
  --vc-content-color: var(--color-primary-600);
  --vc-highlight-outline-bg: var(--color-white);
  --vc-highlight-outline-border: var(--color-primary-600);
  --vc-highlight-outline-content-color: var(--color-primary-700);
  --vc-highlight-light-bg: var(--color-primary-200);
  --vc-highlight-light-content-color: var(--color-primary-900);
  --vc-highlight-solid-bg: var(--color-primary-600);
  --vc-highlight-solid-content-color: var(--color-white);
  --vc-dot-bg: var(--color-primary-600);
  --vc-bar-bg: var(--color-primary-600);
}

.vc-light {
  --vc-nav-item-active-bg: var(--color-primary-500);
  --vc-nav-item-current-color: var(--color-primary-600);
  --vc-time-month-color: var(--color-primary-600);
  --vc-time-day-color: var(--color-primary-600);
  --vc-time-select-group-icon-color: var(--color-primary-500);
  --vc-focus-ring: 0 0 0 2px rgb(0, 0, 0, 0);
}
